div{
    width:200px;
    height:200px;
    display: inline-block;
}
.topcontainer{
    align-items: center;
    border: black solid 10px;
    background-color: crimson;
}
.middlecontainer{
    border: palevioletred solid 10px;
    background-color: aqua;
}
.bottomcontainer{
    align-items: right;
    position: fixed;
    border: wheat solid 10px;
    background-color: gold;
}